.navbar-brand {
    float: left;
    height: 40px;
 	min-height: 40px;
	background: #F79C0F url(../img/logoHeader.png) no-repeat;
    padding-left:63px;
}

#navbar {
    background: #F79C0F !important;
}

.navbar.navbar-collapse:before{
    background:#F79C0F;
    content:"";
    display:block;
    position:absolute;
    min-height:inherit;
    left:0;
    right:0;
    top:0;
    z-index:-1;
    border-radius:inherit;
}

.navbar.navbar-collapse .navbar-container {
    background-color: #F79C0F;
}

.pixi-orange {
    color: #F79C0F !important;
}

.ace-nav > li.pixi-orange > a {
  background-color: #F79C0F;
}

.ace-nav > li.pixi-orange > a:hover,
.ace-nav > li.pixi-orange > a:focus,
.ace-nav > li.open.pixi-orange > a {
  background-color: #F79C0F;
}

.no-skin .nav-list > li:hover > a {
  background-color: #ffffff;
  color: #F79C0F;
}

.no-skin .nav-list > li.active > a {
  font-weight: bold;
  color: #585858;
}

.no-skin .nav-list > li.active:after {
  display: block;
  content: "";
  position: absolute;
  right: -2px;
  top: -1px;
  bottom: 0;
  z-index: 1;
  border: 2px solid;
  border-width: 0 2px 0 0;
  border-color: #F79C0F;
}

.no-skin .nav-list li.active > a:after {
  border-right-color: #F79C0F;
  -moz-border-right-colors: #F79C0F;
}

.no-skin .nav-list > li .submenu > li.active > a {
  color: #F79C0F;
}

.nav-list > li:before {
  display: none;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 1;
  height: 41px;
  width: 3px;
  max-width: 3px;
  overflow: hidden;
  background-color: #F79C0F;
}

.no-skin .nav-list>li.open>a{
    background-color:#fafafa;
    color:#585858
}

.no-skin .navbar .navbar-toggle:hover{
    background-color:#888 !important;
    border-color:rgba(255,255,255,0.1)
}

.no-skin .navbar .navbar-toggle{
    background-color:#888 !important;
}

.no-skin .nav-list>li .submenu>li>a:hover {
    color:#F79C0F;
    background-color:#f1f5f9
}

.page-header h1 {
  padding: 0;
  margin: 0 8px;
  font-size: 24px;
  font-weight: lighter;
  color: #666;
}

.no-skin .navbar .navbar-toggle {
    background-color:#585858;
    border-color:rgba(255,255,255,0.1)
}

.no-skin .navbar .navbar-toggle.display,
.no-skin .navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed) {
    background-color: #888;
    box-shadow:inset 1px 1px 2px 0 rgba(0,0,0,0.25);
    border-color:rgba(255,255,255,0.35)
}

.no-skin .navbar .navbar-toggle:hover {
    background-color:#888;
    border-color:rgba(255,255,255,0.1)
}

.sidebar:before {
    background: url(../img/starWhite.png) no-repeat scroll left bottom #EEEEEE;
}
